<div class = content>
  <p><%= @topname %>さんの最新体重</p>
  <p><%= @topweight %></p>
  <p><%= @topname %>さんの体重変化</p>
  <p><%= @weightchange %></p>
  <p><%= @topbabyname %>ちゃんのコメント</p>
  <p><%= @babycomment %></p>
</div>