<div class ="contents row" >
  <h1><%= @today %></h1>
  <h1>今日の<%= @topbabyname %>ちゃん</h1>

  <div class="ballon1">
    <div class="balloon">
      <h3><%= simple_format(@babycomment) %></h3>
    </div>
  </div>
  <ul>
    <li>
      <img src= "<%= asset_path "baby.png" %>" alt="baby" class="baby-image">
    </li>
  </ul>
  <% if current_user.weights.exists? %>
  <h4><%= @topname %>さんの最新体重 <%= @topweight %>kg</h4>
  <h4>妊娠してからの体重変化 <%= @weightchange.round(2) %>kg/10kg</h4>
  <% end %>
</div>